<div class="container">
  <div class="mt-5"></div>

  <div class="row">
    <div class="col">
      <p class="h1 text-center">
        Perché questo sito?
      </p>
    </div>
  </div>

  <div class="mt-4"></div>

  <div class="row">
    <div class="col">
      <p class="text-center">
        I numeri assoluti sono importanti ma per capire la velocità di trasmissione del virus è
        fondamentale tenere conto di quanti tamponi vengono effettuati quotidianamente. Per fortuna
        l'Istituto Superiore di Sanità ci fornisce questo dato, che ci permette di calcolare la
        percentuale giornaliera di nuovi positivi: con questo numero possiamo capire intuitivamente
        come si muove il virus e regolarci di conseguenza.
      </p>

      <p class="text-center">
        I dati vengono aggiornati quotidianamente alle 17 circa, quando l'ISS rende pubblico il report
        del giorno.
      </p>

      <p class="text-center">
        <a href="https://twitter.com/dimpim">Sentiamoci su Twitter</a>
      </p>
    </div>
  </div>

  <div class="mt-5"></div>

  <div class="row">
    <div class="col">
      <p class="text-center"><%= link_to "Indietro", root_url %></p>
    </div>
  </div>
</div>
